.container {
  height: 100%;
  position: relative;
  width: 100%;
}

.waterContainer {
  border-top: 3px solid hsla(216, 100%, 67%, 0.35);
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 100;

  background: linear-gradient(
    to bottom,
    hsla(216, 100%, 63%, 0.28),
    hsla(216, 100%, 63%, 0.06)
  );
}
